#
#wmediumd mobility extension settings
#
/*
 * 0: no debug
 * 1: debug active
 */
debug = 1;

/*
 * Constant coefficient applied depending on the level of interference to convert our
 * medium model in a more or less interfering one. Addition of loss probability with
 * a constant parameter can model that.
 */
 
interference_tunner = 100; 		//10% of interference power, is modeled as a loss probability

/*
 * Factor to introduce probabilistic Fadings with a defined intensity modelled with two
 * constants, the fading probability and the Fading Intensity Constant that would
 * bee also model with a loss probability constant.
 */
fading_probability = 200; 		//20% of fading appearance probability
fading_intensity = 900;			//90% of fading power, is modeled as a loss probability

carrier_frequency = 2.4E+9; 	//2,4GHz
transmit_power = 50.0E-3; 		//50mW Tx used power
transmit_gain = 2.0; 			//3dB Tx antenna gain
receiver_gain = 2.0; 			//3dB Rx antenna gain
receiver_min_power = 1E-12; 	//-90dBm reciver sensitivity

ifaces_with_mobility: {
    count_ids = 2;
    ids = ["42:00:00:00:00:00", "42:00:00:00:01:00"];
    /*
     *Radio positions (time|x|y) [seconds|meters|meters] 
     *One row per radio on same order than radios on ids array 
     *Time instants must be the same per each radio row
     */
    count_positions_time = 5;
    positions_time_container = (
        ["1|0|0", "5|500|500", "10|2500|2500", "15|3500|3500", "20|4500|4500"], 
        ["1|0|0", "5|0|0", "10|0|0", "15|0|0", "20|0|0"]
    );
};
